/** GlAMM UI Style Names */

.glamm-DelayedPopupPanel .gwt-HTML {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 11px;
}

.glamm-ExtendedFlexTable {
  border-top: thin solid #AAAAAA;
  border-left: thin solid #AAAAAA;
  border-right: thin solid #777777;
  border-bottom: thin solid #777777;
  width: 100%;
}

.glamm-ExtendedFlexTable-OddRow {
  background-color: #ffffff;
}

.glamm-ExtendedFlexTable-EvenRow {
  background-color:  #d3def6;
}

.glamm-ExtendedFlexTable-SelectedRow {
	background-color: #b3bed6;
}

.glamm-ExtendedFlexTable-ColumnLabel {
  color: white;
  padding: 3px;
}

.glamm-ExtendedFlexTable-ColumnLabelCell {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.glamm-ExtendedFlexTable-Cell {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: white;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 11px;
  padding: 5px;
}

.glamm-InterpolationPicker {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 9px;
	margin: 0;
	padding: 0;	
	width: 160px;
}

.glamm-InterpolationPicker-Cell {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 9px;	
  	text-align: center;
  	width: 20px;
}

.glamm-InterpolationPicker .gwt-Label {
	color: white;	
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 9px;
}

.glamm-MiniMap-Reticle {
	fill: none;
	stroke: #ff0000;
	stroke-width: 2
}

.glamm-PanZoomControl {
	background: #EEEEEE;
}

.glamm-global-view element.style {
	background: #000000;
}

.glamm-picker {
	background: #EEEEEE;
	
	padding-left: 2px;
	padding-right: 2px;
}

.glamm-picker td {
	font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 11px;
}

.glamm-picker select {
	font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 11px;
}

.glamm-routeTree {
	border-style: solid;
	border-width: 1px;	
}

.glamm-picker .gwt-Button {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 11px;
}

.glamm-picker .gwt-CheckBox {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 11px;
}

.glamm-picker .gwt-DisclosurePanel .header,
.glamm-picker .gwt-DisclosurePanel .header a,
.glamm-picker .gwt-DisclosurePanel .header td {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 11px;
	margin-top: 2px;
}

.glamm-picker .gwt-HTML {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 11px;
}

.glamm-picker .gwt-Label {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 11px;
	margin-top: 4px;
}

.glamm-picker .gwt-RadioButton {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 11px;
}

.glamm-picker .gwt-ListBox {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 11px;
}

.glamm-picker .gwt-SuggestBox {
	margin-left: 2px;	
	margin-right: 2px;
	margin-top: 2px;
}

.glamm-picker .gwt-Tree {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 11px;
}

.glamm-picker .gwt-Tree .gwt-TreeItem {
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 11px;
}
	
.gwt-SuggestBoxPopup {
  z-index: 200;
}

/** GLAMM SVG style names */
.cpd[state=default] 		{ stroke-width: 5; }
.cpd[state=mouseover] 		{ stroke-width: 12; }
.cpd[state=selected] 		{ stroke-width: 12; }
.cpd[absent=true] 			{ stroke: #444444; stroke-width: 0; fill: #444444; }
.cpd[hasdata=false] 		{ stroke: #444444; fill: #444444; }
.cpd[route=none][absent=true]  { stroke: #444444; fill: #444444; stroke-width: 0; }
.cpd[route=none][absent=false] { stroke: #444444; fill: #444444 }
.cpd[searchtarget=true]		{ stroke: #FF00FF; stroke-width: 32; fill: #FF00FF; }
.cpd[searchtarget=true][route]		{ stroke: #FF00FF; stroke-width: 32; fill: #FF00FF; }
.cpd[searchtarget=true][route][absent]		{ stroke: #FF00FF; stroke-width: 32; fill: #FF00FF; }
.cpd[cpdsrc=true]			{ stroke: #00FF00; stroke-width: 32; fill: #00FF00; }
.cpd[cpddst=true]			{ stroke: #FF0000; stroke-width: 32; fill: #FF0000; }

.map[state=default] 	{ fill: #FFFFFF; }
.map[state=mouseover] 	{ fill: #FF0000; }
.map[state=selected] 	{ fill: #FF0000; }

.rxn[state=default] 		{ stroke-width: 6.5; }
.rxn[state=mouseover] 		{ stroke-width: 14; }
.rxn[state=selected] 		{ stroke-width: 14; }
.rxn[absent=true] 			{ stroke: #444444; stroke-width: 3; }
.rxn[searchtarget=true]		{ stroke: #FF00FF; stroke-width: 24; }
.rxn[searchtarget=true][route]		{ stroke: #FF00FF; stroke-width: 24; }
.rxn[searchtarget=true][route][absent]		{ stroke: #FF00FF; stroke-width: 24; }
.rxn[hasdata=false] 		{ stroke: #444444; }
.rxn[hasdata=true] 			{ stroke-width: 12; }

.rxn[route=red] 	{ stroke: #FF0000; stroke-width: 12; }
.rxn[route=orange] 	{ stroke: #FF9933; stroke-width: 12; }
.rxn[route=yellow] 	{ stroke: #FFFF00; stroke-width: 12; }
.rxn[route=green] 	{ stroke: #00FF00; stroke-width: 12; }
.rxn[route=blue] 	{ stroke: #3399FF; stroke-width: 12; }
.rxn[route=violet] 	{ stroke: #9966FF; stroke-width: 12; }
.rxn[route=cyan]	{ stroke: #00FFFF; stroke-width: 12; }
.rxn[route=magenta] { stroke: #FF00FF; stroke-width: 12; }
.rxn[route=gray] 	{ stroke: #CCCCCC; stroke-width: 12; }
.rxn[route=white] 	{ stroke: #FFFFFF; stroke-width: 12; }
.rxn[route=none][absent=true]   { stroke: #222222; stroke-width: 3 }
.rxn[route=none][absent=false] { stroke: #888888; }
