body {
	background: #EEEEEE;
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: 12px;
}

img {
	border-style: solid;
	border-width: 1px;
}

li.formFieldDescription {
	font-weight: normal;
}

li {
	font-weight: bold;
}



p {
	font-weight: normal;
}